@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');


body {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #667;
  background: #2b2d2f 0 0 repeat-x;
}


header {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  background:  #667 0 0 repeat-x;
  border-bottom: solid 1px #275da1;
}

body a {
   text-decoration: none;
   color: #FFF;
}
  
